body {
	background-color: #D8FFFF;
}

#menu {
	color: #df7fb6;
	background-color: #80004c;
	table-layout: fixed;
	width: 90%;
	text-align: center;
	padding: 5px;
	font-family: georgia, garamond, "Times New Roman";
	font-size: 1.2em;
	margin-left: auto;
  	margin-right: auto;
}

td:hover {
	color: white;
}


a:link {
	color: #df7fb6;
	text-decoration: none;
}
 
a:visited {
	color: #df7fb6;
	text-decoration: none;
}

a:hover {
	color: white;
}

#pink {
	color: #eaadd0;
}

#pink:hover {
	color: white;
}

.navbar {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;  
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;  
}
