@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playfair+Display&display=swap');

body {
	background-color: #D8FFFF;
	/* previous color: d6e7ef */
}


button {
	background-color: #80004c;
  	border: none;
  	outline: none;
	font-size: 1.2em;
	font-family: georgia, garamond, "Times New Roman";
}

.navbar {
	width: 90%;
	background-color: #80004c;
	overflow: hidden;
	margin-left: auto;
  	margin-right: auto;

    	border-top-left-radius:30px;
    	border-bottom-left-radius:30px;  
    	border-top-right-radius:30px;
    	border-bottom-right-radius:30px;  
}

.navbar a button {
	float: left;
	color: #df7fb6;
	font-family: georgia, garamond, "Times New Roman";
	text-align: center;
	padding: 10px 0px 10px 0px;
}
	

.top {
	position: fixed;
	top: 0;
	background-color: #D8FFFF;
	width: 100%;
}



.dropbtn {
	padding: 5px;
}

.dropdown {
  	float: left;
  	overflow: hidden;
}

.dropdown .dropbtn {
	background-color: #80004c;
  	border: none;
  	outline: none;
  	background-color: inherit;
  	font-family: inherit;
  	margin: 0; 
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	border-top-left-radius:5px;
    	border-bottom-left-radius:5px;  
    	border-top-right-radius:5px;
    	border-bottom-right-radius:5px;  
  	z-index: 1;
}

.dropdown-content a:hover {
  	background-color: #ddd;
    	border-top-left-radius:5px;
    	border-bottom-left-radius:5px;  
    	border-top-right-radius:5px;
    	border-bottom-right-radius:5px; 	
}

.dropdown:hover .dropdown-content {
  	display: block;
}

.dropdown-content a {
  	float: none;
  	color: black;
	padding: 10px 15px 10px 15px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}

td:hover {
	color: white;
}


a:link {
	color: #df7fb6;
	text-decoration: none;
	font-size: 1.1em;
}
 
a:visited {
	color: #df7fb6;
	text-decoration: none;
}

a:hover {
	color: white;
}

#pink {
	color: #eaadd0;
}

#selectednav {
	color: #ffffff;
	font-weight: bolder;
}

#pink:hover {
	color: white;
}

img {
	display: block;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: .5em;
}

h2 {
	font-family: georgia, garamond, "Times New Roman";
	color: #80004c;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

article{
	font-family: georgia, garamond, "Times New Roman";
	color: #004280;
	margin-left: 20%;
	margin-right: 15%;
} 

.home-quote {
	color: #004280;
	text-align: center;
	font-size: 30px;
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
}

.bottom-info {
	font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	padding-left: 10px;
	color: white;
	position:fixed;
   	bottom:0px;
}

#left-disco {
	float: left;
	height: 400px;

}

#right-disco {
	float: right;
	height: 400px;
}

#placeholder-img {
	width: 50px;
	height: 50px;
	float: right;
}


.pics {
	width: 33%;
	float: left;
	margin-left: 100px;
	margin-right: 50px;
	background-color: white;
	padding: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blurb {
	padding: 0px 20px 0x 20px;
	width: 90%;
}

.name {
	text-align:left;
	font-size:1.7em;
	margin-top:0px;
}



.text {
	color: #003d7a;
	font-size: 1.3em;
	text-align: justify;
}

.subtitle {
	text-align: center;
	font-size: 3.4em;
	color: #df7fb6;
	text-decoration: underline;

}
