body {
	background-color: #D8FFFF;
}

#menu {
	color: #df7fb6;
	background-color: #80004c;
	table-layout: fixed;
	width: 90%;
	text-align: center;
	padding: 5px;
	font-family: georgia, garamond, "Times New Roman";
	font-size: 1.2em;
	margin-left: auto;
  	margin-right: auto;
}

td:hover {
	color: white;
}


a:link {
	color: #df7fb6;
	text-decoration: none;
}
 
a:visited {
	color: #df7fb6;
	text-decoration: none;
}

a:hover {
	color: white;
}

#pink {
	color: #eaadd0;
}

#selectednav {
	color: #ffffff;
	font-weight: bolder;
}

#pink:hover {
	color: white;
}

.navbar {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;  
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;  
}

img {
	display: block;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: .5em;
}

h2 {
	font-family: georgia, garamond, "Times New Roman";
	color: #80004c;
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

article{
	font-family: georgia, garamond, "Times New Roman";
	color: #004280;
	margin-left: 20%;
	margin-right: 15%;
} 